body {
    height: auto;
    border: 2px pink solid;
    background-color: #0e999e;
    margin: 0;
}

header {
    /* border: #085255 2px solid; */
    /* padding-left: 35%; */
    text-align: center;
}

h1 {
    color: #07e1e9;
    margin: 0;
}

p {
    /* padding-left: 4%; */
    color: #032d30;
}

.quick{
    padding: 0 2%;
}

form {
    min-width: 340px;
    width:  30%;
    margin: 0 auto;
    /* border: 2px rgb(158, 14, 38) solid;     */
}

label, input {
    display: block;
}

input {
    width: 94%;
    height: 22px;
}

input[type=text] {
    /* outline: sienna 2px solid;     */
    border-radius: 7px;
}
input[type=email] {
    /* outline: sienna 2px solid;     */
    border-radius: 7px;
}
input[type=number] {
    /* outline: sienna 2px solid;     */
    border-radius: 7px;
}

input[type=submit] {
    width: 200px;
    font-size: 22px;
    height: 30px;
    margin: auto;
    border: 2px #07e1e9 solid;
    background-color: #05464b;
    color: #dddddd;
}

fieldset {
    margin: 0px 20px;
    padding: 0 0 27px auto;
    border: none;
    border-bottom: 3px solid #3b3d55;
}

fieldset:last-of-type {
    border: none;
}


.recommend {
    display: inline-block;
    width: unset;
    vertical-align: middle;
    margin: 0;
}

.improve {
    display: inline;
    width: unset;
    vertical-align: middle;
}

select {
    display: block;
    width: 94%;
    height: 22px;
}

legend {
    padding-top: 18px;
    margin-bottom: 17px;
    border-bottom: #3b3d55 6px double;
}

textarea {
    width: 98%;
}

footer {
    display: flex;
    justify-content: center;
    /* padding-left: 230px; */
    /* margin-left: 200px; */
    background-color: #616161;
    color: #bebebe;
}
/* .personal {
    margin: auto;
}

.personal-inp {
    margin: auto;
} */