body {
    height: auto;
    border: 2px pink solid;
    margin: 0;
}

form {
    width:  50%;
    margin: 0 auto;
    border: 2px rgb(158, 14, 38) solid;    
}

label, input {
    display: block;
}

input {
    width: 70%;
}

fieldset {
    /* padding: 0 222px; */
}